.box {background-color: #ff0000;
      
      width: 130px;
    text-align: center;
      padding: 10px;
      font-size: 20px;
      border: 3px solid black;
      color: white;
      border-radius: 10px;
cursor: pointer;

      }
.box:hover { background-color: black;    
            color:white ;
           }
body {background-image: url('https://th.bing.com/th/id/OIP.9ukexmylL0vAvc1B6cWWeQHaDt?w=337&h=175&c=7&r=0&o=5&dpr=1.1&pid=1.7');
     background-repeat: no-repeat;
      background-size: cover;
      margin: 0;
     }
.menu {background-color: orange;
border-bottom: black;
}

.part {
  float: left;
margin-left: 20px;
  font-size: 20px;
  padding: 10px;
  transition: all 0.3 linear;
  margin-right: 20px;
}
.part:hover{
background-color:orangered;
color: #ffffff;
cursor: pointer;  
}

.break{clear: both;
      }
a {
  text-decoration: none;
  color: #a00303;
}
p{color: #000000;}
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@1,100;1,400&display=swap');

p{color:yellow ;}
 

.box1{
  background-color: yellow;
  width: 420px;
  height: 250px;
  padding: 10px;
  border: 2px solid;
  border-radius: 20px;
  color: lime;
}